@import "seattletimes";
@import "gallery";

body {
  background: #222;
  background-image: radial-gradient(#222, #111);
  color: white;
}

h1, h2, h3, {
  color: white;
}

section.text-content {
  max-width: 800px;
  margin: auto;
}