@import "seattletimes";
@import "gallery";

body {
  background: #222;
  background-image: radial-gradient(#333, #282828);
  color: @df-off-white;
}

h1, h2, h3, {
  color: white;
}

section.text-content {
  max-width: 800px;
  margin: auto;

  @media @tablet {
    padding: 0 20px;
  }
}