<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <section class="text-content">
      <h1>Photos of the Year 2015</h1>
      <p>
        A selection of the best photos taken in 2015 by Seattle Times photographers.
    </section>

    <section class="gallery">
      <a class="previous button">&laquo;</a>

      <% json.POY2015_gallery.forEach(function(row) { %>
      <div class="slide <%= row.aspect %>">
        <cite class="photo-credit mobile-only">
          <span class="title"><%= row.label %></span>
          |
          <span class="date"><%= row.date %></span>
          by 
          <span class="photographer"><%= row.credit %></span>
        </cite>
        <div class="photo-container">
          <img class="photo" src="./assets/POY_<%= row.photo %>.jpg">
        </div>
        <div class="caption-container">
          <cite class="photo-credit desktop-only">
            <span class="title"><%= row.label %></span>
            |
            <span class="date"><%= row.date %></span>
            by 
            <span class="photographer"><%= row.credit %></span>
          </cite>
          <p class="caption"><b>Photographer's note:</b> <%= row.caption %></p>
        </div>
      </div>
      <% }) %>
      
      <a class="next button">&raquo;</a>
    </section>

    <section class="text-content">
      <article class="intro">
        <h2>About these photos</h2>
        <h3>By Tyrone Beason<br>
          Pacific NW magazine staff writer
        </h3>
        <%= markdown.intro %>
        <div class="credit">
          Tyrone Beason is a Pacific NW magazine staff writer. He can be reached at tbeason@seattletimes.com.
        </div>
      </article>
    </section>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
