<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <section class="text-content">
      <div class="header">
        <h1>2015 <span class="accent">Pictures</span> of the Year</h1>
        <h2>Real life, real moments</h2>
        <p class="byline">Pictures by Seattle Times staff photographers<br>
          <a href="#intro">Introduction by Tyrone Beason</a></p>
      </div>
    </section>

    <section class="gallery first">
      <form class="caption-controls" autocomplete="off">
        <input class="show-caption" type="checkbox" id="show-caption" checked="checked">
        <label for="show-caption">
          <div class="slider"></div>
          Show captions
        </label>
      </form>
      <div class="gallery-inner">
        <div class="slide-container">
          <a class="previous button">&laquo;</a>

          <% json.POY2015_gallery.forEach(function(row) { %>
          <div class="slide <%= row.aspect %>">
            <cite class="photo-credit mobile-only">
              <span class="title"><%= row.label %></span>
              |
              <span class="date"><%= row.date %></span>
              by 
              <span class="photographer"><%= row.credit %></span>
            </cite>
            <div class="photo-container">
              <img class="photo" src="./assets/POY_<%= row.photo %>.jpg">
            </div>
            <div class="caption-container">
              <cite class="photo-credit desktop-only">
                <span class="title"><%= row.label %></span>
                |
                <span class="date"><%= row.date %></span>
              </cite>
              <p class="caption"><%= row.caption %></p>
              <p class="photographer">&mdash; <%= row.credit %></p>
            </div>
          </div>
          <% }) %>
          
          <a class="next button">&raquo;</a>
        </div>
      </div>
      
    </section>
    <a name="intro"></a>
    <section class="text-content">
      <article class="intro">
        <h2>About these photos</h2>
        <h3>By Tyrone Beason<br>
          Pacific NW magazine staff writer
        </h3>
        <%= markdown.intro %>
        <div class="credit">
          Tyrone Beason is a Pacific NW magazine staff writer. He can be reached at <a href="mailto:tbeason@seattletimes.com">tbeason@seattletimes.com</a>.
        </div>
      </article>
    </section>

    <%= t.include("partials/_dontMiss.html", { data: [
      {
        link: "http://www.seattletimes.com/life/travel/2015-seattle-times-reader-photos-of-the-year/",
        head: "2015 Reader photos of the year",
        image: "tease-readers.jpg"
      },
      {
        link: "http://www.seattletimes.com/entertainment/books/seattle-times-critics-best-books-of-2015/",
        head: "Best books of 2015",
        image: "tease-books.jpg"
      },
      {
        link: "http://www.seattletimes.com/pacific-nw-magazine/the-seattle-times-top-10-new-restaurants/",
        head: "Top 10 new restaurants",
        image: "tease-restaurants.jpg"
      },
      {
        link: "http://projects.seattletimes.com/2015/videos-of-the-year/",
        head: "Videos of the year 2015",
        image: "tease-videos.jpg"
      }
    ]}) %>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
